<div class="grid gap-3 md:grid-cols-7 md:grid-rows-2 md:p-6 lg:p-12">
  <div
    class="flex items-center md:col-start-1 md:col-span-3 w-screen sm:w-full relative sm:h-80"
  >
    <img
      class="object-cover object-center w-full h-full rounded shadow"
      src="{{ recipe.photos[0] }}"
      alt=""
    />
  </div>
  <div
    class="bg-gray-100 md:col-start-4 md:col-span-4 px-4 py-6 sm:py-2 flex flex-col justify-between gap-4"
  >
    <div class="">
      <p class="text-xl font-bold">{{ recipe.name }}</p>
      <p class="text-gray-600">{{ recipe.category }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <div class="flex flex-col items-center justify-between gap-2">
        <p class="sm:text-base">Czas przygotowania:</p>
        <span class="recipe_tag_container">
          <span class="material-symbols-outlined text-3xl"> timer </span>
          <span>{{ recipe.timeToMake }}</span></span
        >
      </div>
      <div class="flex flex-col items-center justify-between gap-2 w-24">
        <p class="sm:text-base">Trudność:</p>
        <span
          class="recipe_tag_container"
          [ngClass]="{ recipe_tag_container__easy: recipe.difficulty === 1 }"
          [ngClass]="{ recipe_tag_container__medium: recipe.difficulty === 2 }"
          [ngClass]="{ recipe_tag_container__hard: recipe.difficulty === 3 }"
        >
          <span
            class="flex flex-row-reverse justify-center items-center flex-wrap leading-none"
          >
            <span
              class="material-symbols-outlined leading-none text-2xl"
              *ngFor="let _ of [].constructor(recipe.difficulty)"
            >
              star
            </span>
          </span>
        </span>
      </div>
    </div>
    <div class="p-2">
      <p class="text-gray-600 border-b mb-2">Opis:</p>
      <p class="text-gray-600 text-justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo sunt, quis
        libero fugit ratione cum quaerat ex, incidunt quasi nobis commodi
        veritatis error? Totam deleniti error officiis! Aliquid, debitis
        aspernatur?
      </p>
    </div>
  </div>
  <div class="md:col-start-1 md:col-span-3 p-2 rounded bg-opacity-40">
    <p class="text-lg font-bold">Składniki:</p>
    <div class="rounded p-2">
      <ul class="list-none decoration-green">
        <li
          *ngFor="let id of [].constructor(4)"
          class="before:content-['•'] flex relative items-center p-1 before:text-2xl gap-2 before:leading-none before:text-green-500 border-b"
        >
          <app-custom-checkbox class="flex w-full">
            <span class="quantity">2</span>
            <span class="ingredient">Jaja</span>
          </app-custom-checkbox>
        </li>
      </ul>
    </div>
  </div>
  <div class="p-4 md:col-start-4 md:col-span-4">
    <p
      class="w-full text-left border-b-4 p-2 border-green-600 rounded text-xl font-bold"
    >
      Przygotowanie krok po kroku:
    </p>
    <ul>
      <li class="recipe-step before:content-['1.']">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae,
        hic ducimus aperiam accusamus placeat quis iure! Distinctio sapiente
        possimus incidunt assumenda aliquid veniam blanditiis dicta fugiat,
        explicabo voluptate exercitationem.
      </li>
      <li class="recipe-step before:content-['2.']">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae,
        hic ducimus aperiam accusamus placeat quis iure! Distinctio sapiente
        possimus incidunt assumenda aliquid veniam blanditiis dicta fugiat,
        explicabo voluptate exercitationem.
      </li>
    </ul>
  </div>
</div>
