<!-- Będzie zastąpione popupem -->
<div
  *ngIf="
    loginAttemptStatuses.isErrorOccured || loginAttemptStatuses.isLoginSuccess
  "
  class="flex gap-6 items-center bg-gray-200 w-full h-14 mt-12 rounded-3xl"
  [ngClass]="
    loginAttemptStatuses.isLoginSuccess ? '' : 'bg-green-200 text-black'
  "
  [ngClass]="
    loginAttemptStatuses.isErrorOccured ? '' : 'bg-red-200 text-red-700'
  "
>
  <div
    class="flex gap-6 items-center p-4 bg-green-200"
    *ngIf="loginAttemptStatuses.isLoginSuccess"
  >
    <fa-icon [icon]="facheck" class="text-4xl text-green-500"></fa-icon>
    <span class="text-base text-black">Wprowadzone dane są poprawne!</span>
  </div>
  <div
    class="flex gap-6 items-center p-4 bg-red-200"
    *ngIf="loginAttemptStatuses.isErrorOccured"
  >
    <fa-icon [icon]="faxmark" class="text-4xl text-red-500"></fa-icon>
    <span class="text-base text-red-700">{{
      loginAttemptStatuses.errorDescription
    }}</span>
  </div>
</div>
<!-- <span class="flex justify-center mt-4">
  <span class="text-red-500" *ngIf="loginAttemptStatuses.isErrorOccured">{{
    loginAttemptStatuses.errorDescription
  }}</span>
  <span
    class="text-white lg:text-black"
    *ngIf="loginAttemptStatuses.isLoginSuccess && formMode == 'login'"
    >Zalogowano się pomyślnie! Teraz nastąpi przekierowanie do strony
    głównej.</span
  >
  <span
    class="text-white lg:text-black"
    *ngIf="loginAttemptStatuses.isLoginSuccess && formMode == 'register'"
    >Udało się utworzyć konto w serwisie! Teraz nastąpi przekierowanie do strony
    głównej.</span
  >
</span> -->
<!-- /\ Będzie zastąpione popupem -->
