<!-- TODO BANNER-->
<!-- <div class="flex w-full h-52 p-2">
  <div class="flex-1 p-2">
    <h1 class="banner_header font-nunito">
      Odkrywaj swoje nowe ulubione przepisy na
      <span class="text-green-400">naszej stronie!</span>
    </h1>
    <p class="mt-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
      fugit quaerat veniam odio quae voluptas alias eligendi dolores veritatis
      maiores nulla soluta porro officiis, voluptates ipsam, sunt totam facilis!
      Illum
    </p>
  </div>
  <div class="flex-1">
    <img src="../../../assets/pizza.png" class="w-full object-contain" alt="" />
  </div>
</div> -->
