<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
  <div *ngFor="let recipe of recipes">
    <div
      class="bg-white relative flex flex-col hover:cursor-pointer group border border-transparent rounded"
    >
      <div class="relative">
        <img
          class="object-cover w-full h-52 group-hover:brightness-75 transition duration-300"
          width=""
          src="{{ recipe.photos[0] }}"
          alt=""
        />
      </div>
      <span
        class="absolute top-2 left-2 bg-yellow-100 p-1 rounded-md flex items-center gap-1"
        ><span class="material-symbols-outlined"> schedule </span
        >{{ recipe.timeToMake }}</span
      >
      <div class="p-2 group-hover:bg-gray-50 transition duration-300">
        <p class="text-lg">{{ recipe.name }}</p>
        <p class="text-gray-700 text-opacity-80">{{ recipe.category }}</p>
        <div class="flex justify-between text-gray-700 text-opacity-80 mt-2">
          <p>Trudność:</p>
          <span
            ><span
              class="material-symbols-outlined"
              *ngFor="let _ of [].constructor(recipe.difficulty)"
              >star</span
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
