<div
  class="static w-full text-center l flex justify-between items-center shadow-sm px-2 md:px-4 py-2 lg:p-0"
>
  <div class="static flex justify-between gap-2 md:gap-6">
    <div class="flex lg:hidden items-center">
      <button
        class="hamburger_btn"
        [ngClass]="{ hamburger_btn_active: toggleSidebar === true }"
        (click)="onHamburgerClicked()"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="lg:bg-gray-800 lg:text-white lg:w-64 text-opacity-90 lg:p-4">
      <h6 class="font-lobster font-normal text-2xl p-2 lg:p-4">
        Co<span class="font-lobster text-green-400">Ugotować.pl</span>
      </h6>
      <div class="hidden lg:block p-1 border-t border-gray-600">
        <span class="font-nunito font-light text-l"
          >Baza przepisów od kucharzy dla kucharzy</span
        >
      </div>
    </div>
  </div>
  <!-- <div class="px-2 block lg:hidden">
    <a
      [routerLink]="'login'"
      class="border py-2 px-4 rounded-xl transition hover:border-emerald-400 active:bg-emerald-100 active:border-emerald-200"
    >
      Zaloguj się
    </a>
  </div> -->
</div>
