<div class="flex flex-col bg-white w-52 h-64 rounded-xl shadow font-nunito">
  <div class="flex-2 flex justify-center relative">
    <img
      src="../../../assets/pizza.jpg"
      class="rounded-full object-cover w-36 h-36 relative -top-4"
      alt=""
    />
  </div>
  <div class="flex-1">
    <p class="text-center font-bold font-nunito text-base">
      Original italian pizza
    </p>
  </div>
  <!-- TODO RATING -->
  <!-- <span>RATING?</span> -->
  <div
    class="flex-1 flex justify-between items-center px-2 text-sm border-t border-stone-200"
  >
    <span class="flex-2">
      <fa-icon [icon]="clockIcon" class="text-gray-600 mr-1"></fa-icon>45
      min</span
    >
    <button
      class="flex-3 bg-teal-100 hover:bg-teal-400 hover:text-white transition p-2 rounded"
    >
      Zobacz przepis
    </button>
  </div>
</div>
