<div
  class="w-64 sidebar_responsive lg:sidebar_layout"
  [ngClass]="{ sidebar_responsive__active: isSidebarOpen === true }"
>
  <div class="bg-gray-50 h-full py-3 px-2">
    <nav>
      <p class="nav_category">Odkrywaj</p>
      <ul class="flex flex-col gap-2">
        <li class="nav_el" *ngFor="let element of navElements">
          <fa-icon [icon]="element.icon"></fa-icon>
          <span>{{ element.textContent }}</span>
        </li>
        <!-- <li class="nav_el">
          <fa-icon [icon]="faHome"></fa-icon>
          <span>Strona główna</span>
        </li>
        <li class="nav_el">
          <fa-icon [icon]="faSearch"></fa-icon>
          <span>Wyszukaj przepis</span>
        </li>
        <li class="nav_el">
          <fa-icon [icon]="faList"></fa-icon>
          <span>Polecane przepisy</span>
        </li>
        <li class="nav_el">
          <fa-icon [icon]="faUtensils"></fa-icon>
          <span>Moje przepisy</span>
        </li>
        <li class="nav_el">
          <fa-icon [icon]="faStar"></fa-icon>
          <span>Ulubione</span>
        </li>
        <span class="nav_category mt-2">Biblioteka</span>
        <span class="nav_category">Konto i preferencje</span>
        <li class="nav_el">
          <fa-icon [icon]="faTheme"></fa-icon>
          <span>Zmień motyw</span>
        </li> -->
      </ul>
    </nav>
  </div>
</div>
