<form
  (ngSubmit)="onSubmit()"
  #loginForm="ngForm"
  class="login_form"
  autocomplete="off"
>
  <label for="username">Nazwa użytkownika:</label>
  <input
    type="text"
    id="username"
    name="username"
    [(ngModel)]="user.username"
    required
  />
  <label for="password">Hasło:</label>
  <input
    type="password"
    id="userPassword"
    name="userPassword"
    minlength="4"
    maxlength="16"
    size="16"
    [(ngModel)]="user.password"
    required
  />
  <input
    type="password"
    id="repeatUserPassword"
    name="repeatUserPassword"
    placeholder="Powtórz hasło (4-16 znaków)..."
    minlength="4"
    maxlength="16"
    size="16"
    [(ngModel)]="repeatedPassword"
    [hidden]="formMode === 'login'"
    [required]="formMode === 'register'"
  />
  <button
    class="w-full bg-green-400 p-3 text-black rounded-xl mt-6 hover:bg-opacity-90 active:bg-opacity-70 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:hover:bg-gray-200"
    type="submit"
    [disabled]="loginForm.form.invalid"
  >
    <span *ngIf="formMode === 'login'">Zaloguj się</span>
    <span *ngIf="formMode === 'register'">Utwórz konto</span>
  </button>
</form>
